* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #0a192f;
    color: #ccd6f6;
    line-height: 1.6;
}

/* NAVBAR */
nav {
    background: #020c1b;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav a {
    color: #64ffda;
    text-decoration: none;
}

.logo {
    color: #64ffda;
}
.logo span {
    color: #fff;
}

/* HERO */
.hero {
    height: 90vh;
    text-align: center;
    padding: 120px 20px;
}

.hero h1 {
    font-size: 42px;
    color: #64ffda;
}

.hero button {
    margin-top: 25px;
    padding: 12px 30px;
    background: #64ffda;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

/* SECTIONS */
section {
    padding: 80px 100px;
}

h2 {
    color: #64ffda;
    margin-bottom: 20px;
}

/* SKILLS */
.skills span {
    background: #112240;
    padding: 8px 16px;
    border-radius: 20px;
    margin: 6px;
    display: inline-block;
}

/* CARDS */
.card {
    background: #112240;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.tech {
    color: #64ffda;
    margin-top: 10px;
}

/* FOOTER */
footer {
    background: #020c1b;
    text-align: center;
    padding: 20px;
}
