* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #0a192f;
    color: #ccd6f6;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: #020c1b;
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #64ffda;
    font-weight: 500;
}

.logo {
    color: #64ffda;
}

.logo span {
    color: #ffffff;
}

/* Hero */
.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 span {
    color: #64ffda;
}

.hero button {
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    background: #64ffda;
    color: #0a192f;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

/* Sections */
section {
    padding: 80px 100px;
}

h2 {
    color: #64ffda;
    margin-bottom: 20px;
}

/* Skills */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.skill {
    background: #112240;
    padding: 10px 20px;
    border-radius: 20px;
}

/* Projects */
.project-card {
    background: #112240;
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
}

/* Footer */
footer {
    background: #020c1b;
    text-align: center;
    padding: 20px;
}
